<!DOCTYPE html>
<html>
<head>
	<title>[+title+]</title>
	[+css+]
</head>
<body>
	<div id="js-msg" class="msg [+msgType+]"><div class="msg__text">[+msg+]</div></div>
	<h1><a href="#" onclick="postForm(); return false;">[+title+]</a> > Галерея #[+gallery_id+]</h1>
	[+paginator_links+]
	<ul class="actionButtons">
		<li><a href="#" onclick="postForm(); return false;"><img alt="icons_delete_document" src="/assets/modules/seagulllibrary/css/images/back.png" /> назад</a></li>
		<li class="actionButtons-left"><a href="#" id="btn-add-imgs"><img src="media/style[+theme+]/images/icons/add.png" /> Добавить изображения</a></li>
		<li class="actionButtons-middle"><a href="#" id="btn-del-imgs"><img alt="icons_delete_document" src="media/style/MODxCarbon/images/icons/delete.png" /> Удалить изображения</a></li>
		<li class="actionButtons-left"><a href="#" onclick="postForm('configGallery'); return false;"><img src="../assets/modules/seagulllibrary/css/images/config.png" /> Настройки</a></li>
		<li class="actionButtons-right"><a href="#" onclick="ajaxDel('delGallery', [+gallery_id+]); return false;"><img alt="icons_delete_document" src="media/style/MODxCarbon/images/icons/delete.png" /> Удалить галерею</a></li>
		<li class="actionButtons-left"><a href="#" class="btn-browser-view" data-view="table"><img src="media/style[+theme+]/images/icons/list.svg" /> </a></li>
		<li class="actionButtons-right"><a href="#" class="btn-browser-view" data-view="grid"><img src="media/style[+theme+]/images/icons/grid.svg" /> </a></li>
	</ul>

	<form id="f-upload" action="" method="post" enctype="multipart/form-data" style="display:none">
		<input id="btn-selectfiles" style="position:absolute; z-index:-10" type="file" name="imgs[]" multiple />
		<input type="hidden" name="cmd" value="addimgs" />
		<input type="hidden" name="itemID" value="[+gallery_id+]" />
	</form>
	<div class="b-progress">
		<div class="b-progress__bar"></div>
		<div class="b-progress__percent">0%</div>
	</div>
	<div id="status"></div>

	<form id="f-imgs-form" class="ajaxform" action="/assets/modules/[+nameModule+]/ajax.php" method="post">
		[+images_list+]
	</form>
	[+paginator_links+]

	<div id="form-container" style="display:none">
		<form id="f-image" method="post" enctype="multipart/form-data">
			<p>
				<label style="display:inline-block;width:60px;">ID изобр.</label>
				<input type="text" name="id" id="ff-img-id" readonly="readonly" />
			</p>
			<p>
				<label style="display:inline-block;width:60px;" for="ff-img-title">Название</label>
				<input type="text" name="title" id="ff-img-title" style="width:70%" />
			</p>
			<p>
				<label style="display:inline-block;width:60px;" for="ff-img-description">Описание</label>
				<textarea type="text" name="description" id="ff-img-description" style="width:70%"></textarea>
			</p>
			<p>
				<label for="ff-img-file">Заменить изображение</label>
				<input type="file" name="imgfile" id="ff-img-file" class="w100" />
			</p>
			<p>
				<input type="hidden" name="cmd" value="saveimg" />
				<input style="margin-left:60px" class="btn" type="submit" value="Сохранить" />
				<input class="btn btn-cancel" type="button" value="Закрыть" />
			</p>
		</form>
	</div>

	<div id="dialog-select-gallery" title="Выбери галерею">
		<form>
			<table class="b-table" style="width:100%"><thead><tr><td style="width:20px"></td><td>#</td><td>Название</td></tr></thead><tbody id="table-select-gallery"></tbody></table>
		</form>
	</div>

	<form name="module" method="post">
		<input name="cmd" type="hidden" value="" />
		<input id="ff-gid" name="itemID" type="hidden" value="[+gallery_id+]" />
	</form>
	[+js+]
	<script type="text/javascript" src="../assets/modules/seagulllibrary/js/jquery.tablednd-0.5.1.js"></script>
	<script type="text/javascript" src="../assets/modules/[+nameModule+]/js/[+nameModule+]_images.js"></script>
</body>
</html>
