/*
 * Seagull Gallery
 */

body {
	font-family: Helvetica,Arial,sans-serif !important;
	font-size: 75%;
	background: #F7F7F7;
	padding: 0 10px;
}
h1 {
	margin-left: 0;
	font-size: 150%;
}

form input:read-only, form select:read-only, form textarea:read-only {
	background-image: none;
	background: #EEE;
}

.b-td__title {
	font-weight: bold;
}
.col-edit {
	cursor: pointer;
	vertical-align: top;
}

/* tablesort */
.tsort .tsort__dragHandle {
	padding: 0 5px;
	cursor: move;
}
.b-table tbody tr:hover .tsort__dragHandle {
	background: transparent url('../../seagulllibrary/css/images/move.png') no-repeat center center;
}
.tsort .tsort__col-edit {
	background: url('../../seagulllibrary/css/images/gtk-edit.png') no-repeat center center;
	cursor: pointer;
}
.tsort .tsort__dragClass td {
/*	background: #FFEEB2;*/
}
.tsort .showDragHandle {
	background: transparent url('../../seagulllibrary/css/images/move.png') no-repeat center center;
}

/* upload images */
.b-progress {
	position: relative;
	display: none;
	width: 300px;
	margin: 5px 0;
	padding: 1px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.b-progress__bar {
	background: url('../../seagulllibrary/css/images/upload.gif') repeat-x 0 0;
	width: 70%;
	height: 18px;
	border-radius: 3px;
}
.b-progress__percent {
	position: absolute;
	display: block;
	text-align: center;
	top: 3px;
	width: 100%;
}

.b-table tbody tr:hover .img-download,
.gallery-grid-item:hover .img-download {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 4px;
	background: url('../../seagulllibrary/css/images/save_16.gif') no-repeat center center;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}
#dialog-select-gallery button.ui-button {
	display: none;
}
.dialog-select-gallery button.ui-button {
	width: auto;
}
.gallery-grid {
	margin-top: 15px;
}
.gallery-grid-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 13px 0;
	padding: 4px;
	border: 1px solid transparent;
	font: 0px/0 a;
	text-align: center;
	border-radius: 5px;
	width: 150px;
	height: 100px;
	line-height: 100px;
	cursor: url('images/zoomin.cur'), auto;
	background: #FFF;
	transition: all .1s linear;
}
.gallery-grid-item img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	border-radius: 3px;
	vertical-align: middle;
}
.gallery-grid-item .img_select {
	display: none;
}
.gallery-grid-item:hover {
	border: 1px solid #b7b7b7;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.gallery-grid-item_selected_yes:hover,
.gallery-grid-item_selected_yes {
	border: 1px solid #b00;
	background: #FFC4C4;
	box-shadow: 0 0 0 2px #a00;
}

/* timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.b-btn-imgs-del {
	color: #888;
}

.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
